In [35]:
import os
from pathlib import Path
import pandas as pd
import numpy as np
import toolkitEngineering
import importlib
importlib.reload(toolkitEngineering)

In [36]:
## Estabelecendo diretórios base
diretorio_src_etl = os.getcwd()
diretorio_src = Path(diretorio_src_etl).parent.absolute()
diretorio_base = Path(diretorio_src).parent.absolute()
diretorio_data = os.path.join(diretorio_base, 'data')

# Bronze
diretorio_bronze = os.path.join(diretorio_data, 'bronze')
diretorio_sinan_bronze = os.path.join(diretorio_bronze, 'sinan')
diretorio_sinan_bronze_csv = os.path.join(diretorio_sinan_bronze, 'csv')

# Silver
diretorio_silver = os.path.join(diretorio_data, 'silver')
diretorio_sinan_silver = os.path.join(diretorio_silver, 'sinan')
diretorio_sinan_silver_tsv = os.path.join(diretorio_sinan_silver, 'tsv')

## Criação de pastas para armazenar os arquivos
os.makedirs(os.path.join(diretorio_data), exist_ok=True)
os.makedirs(os.path.join(diretorio_silver), exist_ok=True)
os.makedirs(os.path.join(diretorio_sinan_silver), exist_ok=True)
os.makedirs(os.path.join(diretorio_sinan_silver_tsv), exist_ok=True)

In [37]:
arquivos_csv = [arquivo for arquivo in os.listdir(diretorio_sinan_bronze_csv) if arquivo.endswith("csv")]
arquivos_csv = arquivos_csv[-2:]
arquivos_tsv = [arquivo.rstrip("csv") + "tsv" for arquivo in arquivos_csv]
arquivos_tsv

['head_100_DENGBR10.tsv', 'head_100_DENGBR11.tsv']

In [5]:
# Função para converter NU_IDADE_N para idade em anos
def convert_to_years(age):
    if pd.isnull(age):
        return np.nan
    if len(str(age)) < 4:
        return np.nan
    age_str = str(age)
    prefix = age_str[0]
    value = int(age_str[1:])
    
    if prefix == '1':  # Hora
        return value / (24 * 365)  # Aproximação para converter horas em anos
    elif prefix == '2':  # Dia
        return value / 365  # Aproximação para converter dias em anos
    elif prefix == '3':  # Mês
        return value / 12  # Aproximação para converter meses em anos
    elif prefix == '4':  # Ano
        return value
    else:
        return np.nan

In [9]:
colunas_importantes = [
    "NU_ANO","NU_MES", "ID_MUNICIP", "DT_NOTIFIC", "SEM_NOT", "DT_SIN_PRI", "SEM_PRI", "NU_IDADE_N", "IDADE_ANOS", "CS_SEXO",
    "CS_GESTANT", "CS_RACA", "CS_ESCOL_N", "SG_UF", "ID_MN_RESI", "ID_PAIS", "NDUPLIC_N", "DT_INVEST", "DT_SORO",
    "DT_NS1", "RESUL_NS1", "DT_VIRAL", "RESUL_VI_N", "DT_PCR", "RESUL_PCR_", "SOROTIPO", "HISTOPA_N", "IMUNOH_N",
    "TPAUTOCTO", "COUFINF", "COPAISINF", "COMUNINF", "EVOLUCAO", "DT_OBITO", "DT_ENCERRA", "MANI_HEMOR", "EPISTAXE",
    "PETEQUIAS", "HEMATURA", "SANGRAM", "LACO_N", "PLASMATICO", "EVIDENCIA", "COMPLICA", "HOSPITALIZ", "DT_INTERNA",
    "CRITERIO","CLASSI_FIN","RESUL_SORO","METRO","GENGIVO","UF","MUNICIPIO"
]
column_map = {
    "DT_INTER": "DT_INTERNA"
}

    # Lista das colunas que queremos tentar converter para inteiros
columns_to_convert = [
    "CS_GESTANT", "CS_RACA", "ID_PAIS", "NDUPLIC_N",
    "RESUL_SORO", "RESUL_NS1", "RESUL_VI_N", "RESUL_PCR_", "SOROTIPO",
    "HISTOPA_N", "IMUNOH_N", "CLASSI_FIN", "TPAUTOCTO", "EVOLUCAO",
    "MANI_HEMOR", "EPISTAXE", "GENGIVO", "METRO", "PETEQUIAS",
    "HEMATURA", "SANGRAM", "LACO_N", "PLASMATICO", "EVIDENCIA",
    "COMPLICA", "HOSPITALIZ", "UF", "CS_ESCOL_N", "CRITERIO", "COUFINF", "MUNICIPIO", "COMUNINF", "ID_MN_RESI"]

In [25]:
for arquivo_csv, arquivo_tsv in zip(arquivos_csv, arquivos_tsv):
    df = pd.read_csv(os.path.join(diretorio_sinan_bronze_csv, arquivo_csv), sep=',')
    # Trocar "NA" por np.nan (ou None, ambos representam valores nulos em Pandas)
    df.replace("NA", np.nan, inplace=True)
    df.replace("", np.nan, inplace=True)
    # Remover aspas das colunas que são de tipo string
    df = df.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)
    # Aplicar a função e criar a nova coluna IDADE_ANOS
    df['IDADE_ANOS'] = df['NU_IDADE_N'].apply(convert_to_years)
    df['NU_MES'] = df['DT_NOTIFIC'].apply(lambda x: x.split('-')[1])
    df = df.rename(columns=column_map)
    df = df[colunas_importantes]


    # Itera sobre cada coluna e tenta converter para inteiro
    for column in columns_to_convert:
        df[column] = pd.to_numeric(df[column], errors='coerce').astype('Int64')

    df.columns = df.columns.str.lower()
    

    df.to_csv(os.path.join(diretorio_sinan_silver_tsv, arquivo_tsv), sep='\t', index=False)

In [42]:
diretorio_dotenv = os.path.join(diretorio_base, ".env")

cursor, conn = toolkitEngineering.conectar_banco(diretorio_dotenv)
for arquivo_tsv in arquivos_tsv:
    
    caminho_arquivo = os.path.join(diretorio_sinan_silver_tsv, arquivo_tsv)
    toolkitEngineering.inserir_no_banco(cursor, conn, caminho_arquivo, 'sinan_dengue', delimiter='\t', add_id=True, diretorio_dotenv=diretorio_dotenv)

Erro ao inserir a linha ['2010', '01', '260190', '2010-01-26', '201004', '2010-01-21', '201003', '4029', '29.0', 'F', '5', '1', None, '26', '260190', '1', None, '2010-01-27', None, None, None, None, None, None, '4', None, '4', '4', None, None, '0', None, '1', None, '2010-03-29', None, None, None, None, None, None, None, None, None, None, None, '2', '5', '2', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '330455', '2010-01-26', '201004', '2010-01-22', '201003', '4010', '10.0', 'M', '6', '9', '9', '33', '330490', '1', None, '2010-01-26', '2010-01-26', None, None, None, None, None, None, None, '4', '4', '1', '33', '1', '330490', '9', None, '2010-02-04', '1', '2', '2', '2', '1', '2', '1', '1', None, '1', '2010-01-24', '1', '3', '1', '2', '2', None, '330455']: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '170950', '2010-01-11', '201002', '2010-01-11', '201002', '4025', '25.0', 'F', '5', '1', '1', '17', '170950', '1', None, '2010-01-19', None, None, None, None, '4', None, '4', None, '4', '4', None, None, '0', None, '1', None, '2010-03-19', None, None, None, None, None, None, None, None, None, None, None, '2', '5', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '170950', '2010-01-22', '201003', '2010-01-15', '201002', '4046', '46.0', 'F', '5', '1', '8', '17', '170950', '1', None, '2010-01-22', '2010-01-16', None, None, None, '4', None, '4', None, '4', '4', '1', '17', '1', '170950', '1', None, '2010-02-26', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-25', '201004', '2010-01-23', '201003', '4046', '46.0', 'M', '6', None, None, '31', '314330', '1', None, '2010-02-16', None, None, None, None, '4', None, '4', None, '4', '4', '1', '31', '1', '314330', '1', None, '2010-02-25', None, None, None, None, None, None, None, None, None, '2', None, '2', '1', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-25', '201004', '2010-01-23', '201003', '4046', '46.0', 'M', '6', None, '4', '31', '314330', '1', None, '2010-01-29', '2010-01-29', None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-02-10', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-29', '201004', '2010-01-29', '201004', '4050', '50.0', 'F', '5', '1', '9', '31', '314330', '1', None, '2010-01-29', None, None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-01-29', None, None, None, None, None, None, None, None, None, None, None, '2', '1', None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-21', '201003', '2010-01-16', '201002', '4049', '49.0', 'F', '5', '2', '8', '31', '314330', '1', None, '2010-01-25', '2010-01-25', None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-02-05', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-25', '201004', '2010-01-13', '201002', '4062', '62.0', 'F', '5', '2', '6', '31', '314330', '1', None, '2010-02-18', None, None, None, None, None, None, '4', None, '4', '4', '1', '31', '1', '314330', '1', None, '2010-02-18', None, None, None, None, None, None, None, None, None, None, None, '2', '1', None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-25', '201004', '2010-01-21', '201003', '4033', '33.0', 'M', '6', None, None, '31', '314330', '1', None, '2010-02-25', None, None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-05-14', None, None, None, None, None, None, None, None, None, '9', None, '2', '1', None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-28', '201004', '2010-01-25', '201004', '4023', '23.0', 'M', '6', '4', '2', '31', '314330', '1', None, '2010-02-02', '2010-02-02', None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-02-05', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-29', '201004', '2010-01-27', '201004', '4022', '22.0', 'F', '5', '4', '5', '31', '314330', '1', None, '2010-03-31', None, None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-03-31', None, None, None, None, None, None, None, None, None, '9', None, '2', '1', None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-28', '201004', '2010-01-24', '201004', '4034', '34.0', 'F', '5', '4', '4', '31', '314330', '1', None, '2010-03-01', None, None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-03-01', None, None, None, None, None, None, None, None, None, None, None, '2', '1', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-28', '201004', '2010-01-25', '201004', '4063', '63.0', 'F', '9', None, None, '31', '314330', '1', None, '2010-01-28', '2010-02-05', None, None, None, None, None, None, None, None, None, None, '31', '1', None, None, None, '2010-02-19', None, None, None, None, None, None, None, None, None, None, None, '1', '5', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-29', '201004', '2010-01-28', '201004', '4041', '41.0', 'F', '5', '4', '1', '31', '314330', '1', None, '2010-03-31', None, None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-03-31', None, None, None, None, None, None, None, None, None, '9', None, '2', '1', None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-29', '201004', '2010-01-26', '201004', '4013', '13.0', 'F', '5', '4', '3', '31', '314330', '1', None, '2010-01-29', '2010-02-05', None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-02-19', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-27', '201004', '2010-01-24', '201004', '4022', '22.0', 'M', '6', '4', None, '31', '314330', '1', None, '2010-02-02', None, None, None, None, None, None, None, None, None, None, None, None, '0', None, None, None, '2010-02-19', None, None, None, None, None, None, None, None, None, None, None, '2', '5', None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-27', '201004', '2010-01-23', '201003', '4045', '45.0', 'F', '5', '4', '9', '31', '314330', '1', None, '2010-02-28', '2010-02-07', None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-02-28', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '314330', '2010-01-27', '201004', '2010-01-26', '201004', '4022', '22.0', 'F', '9', '4', '4', '31', '314330', '1', None, '2010-03-31', None, None, None, None, None, None, None, None, None, None, '1', '31', '1', '314330', '1', None, '2010-03-31', None, None, None, None, None, None, None, None, None, '9', None, '2', '1', None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '270930', '2010-01-07', '201001', '2010-01-03', '201001', '4032', '32.0', 'M', '6', None, None, '27', '270930', '1', None, '2010-01-18', '2010-01-18', None, None, None, '4', None, '4', None, '4', '4', '2', '17', '1', '172100', '1', None, '2010-02-05', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '270930', '2010-01-25', '201004', '2010-01-21', '201003', '4015', '15.0', 'M', '6', '4', None, '27', '270930', '1', None, '2010-01-25', '2010-02-08', None, None, None, '4', None, '4', None, '4', '4', None, None, '0', None, None, None, '2010-02-24', None, None, None, None, None, None, None, None, None, None, None, '1', '5', '2', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '310450', '2010-01-28', '201004', '2010-01-28', '201004', '4061', '61.0', 'F', '6', '4', '6', '31', '310450', '1', None, '2010-02-05', '2010-02-05', None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, '1', None, '2010-03-09', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '317040', '2010-01-19', '201003', '2010-01-10', '201002', '4017', '17.0', 'M', '6', '4', '6', '31', '317040', '1', None, '2010-01-19', '2010-01-19', None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, '1', None, '2010-02-22', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '317040', '2010-01-04', '201001', '2009-12-24', '200951', '4056', '56.0', 'F', '5', '9', '9', '31', '317040', '1', None, '2010-01-04', '2010-01-04', None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, '1', None, '2010-02-09', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '317040', '2010-01-20', '201003', '2009-12-31', '200952', '4038', '38.0', 'F', '5', '4', '3', '31', '317040', '1', None, '2010-01-20', '2010-01-20', None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, '1', None, '2010-02-25', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '317040', '2010-01-13', '201002', '2010-01-10', '201002', '4058', '58.0', 'M', '6', '4', '9', '31', '317040', '1', None, '2010-01-13', '2010-01-13', None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, '1', None, '2010-02-25', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '310820', '2010-01-15', '201002', '2010-01-15', '201002', '4041', '41.0', 'F', '5', '1', '3', '31', '310820', '1', None, '2010-01-25', '2010-01-31', None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, '1', None, '2010-02-12', None, None, None, None, None, None, None, None, None, None, None, '1', '1', '1', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '311940', '2010-01-22', '201003', '2010-01-20', '201003', '4013', '13.0', 'M', '6', '9', '9', '31', '311940', '1', None, '2010-01-22', '2010-02-09', None, None, None, None, None, None, None, None, None, '1', '31', '1', '311940', '1', None, '2010-03-22', None, None, None, None, None, None, None, None, None, '1', '2010-01-21', '1', '1', '1', None, None, None, '311940']: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '311940', '2010-01-25', '201004', '2010-01-23', '201003', '4011', '11.0', 'M', '6', '9', '9', '31', '316870', '1', None, None, None, None, None, None, None, None, None, None, None, None, None, None, '0', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '230440', '2010-01-11', '201002', '2010-01-07', '201001', '4050', '50.0', 'F', '9', '9', '9', '11', '110012', '1', None, '2010-01-11', None, None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, '9', None, '2010-01-12', None, None, None, None, None, None, None, None, None, None, None, '2', '1', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '230440', '2010-01-20', '201003', '2010-01-18', '201003', '4036', '36.0', 'M', '6', '9', '9', '23', '231240', '1', None, '2010-01-20', '2010-01-18', None, None, None, '4', None, '4', None, '4', '4', None, None, '0', None, None, None, '2010-01-21', None, None, None, None, None, None, None, None, None, None, None, '2', '5', '2', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '230440', '2010-01-04', '201001', '2009-12-26', '200951', '3005', '0.4166666666666667', 'F', '6', None, '10', '23', '230440', '1', None, '2010-01-04', None, None, None, None, '4', None, '4', None, '4', '4', '1', '23', '1', '230440', '1', None, '2010-01-14', None, None, None, None, None, None, None, None, None, None, None, '2', '1', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '230440', '2010-01-04', '201001', '2009-12-28', '200952', '4015', '15.0', 'F', '9', '9', '9', '23', '230440', '1', None, '2010-01-04', None, None, None, None, '4', None, '4', None, '4', '4', '1', '23', '1', '230440', '1', None, '2010-01-11', None, None, None, None, None, None, None, None, None, None, None, '2', '1', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '230440', '2010-01-18', '201003', '2010-01-16', '201002', '4011', '11.0', 'F', '9', '9', '9', '23', '230440', '1', None, '2010-01-18', None, None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, None, None, '2010-01-20', None, None, None, None, None, None, None, None, None, None, None, '2', '1', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^

Erro ao inserir a linha ['2010', '01', '230440', '2010-01-21', '201003', '2010-01-20', '201003', '4038', '38.0', 'F', '9', '9', '9', '23', '230440', '1', None, '2010-01-21', None, None, None, None, '4', None, '4', None, '4', '4', '3', None, '0', None, None, None, '2010-01-22', None, None, None, None, None, None, None, None, None, None, None, '2', '1', '4', None, None, None, None]: ERRO:  não existe a coluna "id" da relação "sinan_dengue"
LINE 1: INSERT INTO "sinan_dengue" (id, nu_ano, nu_mes, id_municip, ...
                                    ^
